<div class="card" *ngFor="let qitem of qalist">
    <div class="card-header">
      <b>Q: </b>{{qitem.ques}}
    </div>
    <div class="card-body">
      
        <p>{{qitem.answer}}</p>
            <button type="button" class="btn btn-info">
                Asked by <span class="badge badge-light">{{qitem.askedBy}}</span>
            </button> &nbsp;&nbsp;
            <button type="button" class="btn btn-warning">
                Answered by <span class="badge badge-light">{{qitem.answeredBy}}</span>
            </button>      
    </div>
  </div>