<div *ngFor="let text of questionAnswer['quesAns']">
    <div>{{text.quesText}}</div>
        <ul style="list-style-type: none;">
            <li>{{text.option1}}</li>
            <li>{{text.option2}}</li>
            <li>{{text.option3}}</li>
            <li>{{text.option4}}</li>
        </ul>
     
            <input type="text" class="form-controls">
            <button type="button" class="btn btn-primary">Save</button>
       
</div>
<br>
<button type="button" class="btn btn-danger">Total Score</button>
