  <div class="card">
    <div class="card-header">
      COURSE CREATION PAGE   
    </div>
    <div class="card-body">
        <form #courseForm=ngForm>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Course code</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="ccode" name="coursecode" required>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Course title</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="ctitle" name="coursetitle" required>
              </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Course desc</label>
                <div class="col-sm-8">                  
                  <textarea class="form-control" [(ngModel)]="cdesc" name="coursedesc" required></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Course logo - URL</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [(ngModel)]="clogoURL" name="courselogo" required>
                </div>
              </div>
          </form>      
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="addTopic(courseForm)">Add Topic</button>
        <br>
        <br>
        <div *ngIf="!canCreateTopic">
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Hi</strong> All fields for course are mandatory. Please fill to create topic           
          </div>
        </div>
    </div>
  </div>
  <div *ngIf="topicCreateStarted">
  <div class="card">
    <div class="card-header">
        TOPIC INFORMATION       
    </div>
    <div class="card-body">
        <form #topicForm=ngForm>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Topic code</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="topiccode" ngModel required>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Topic title</label>
              <div class="col-sm-8">
                <input type="text" class="form-control"  name="topictitle" ngModel required>
              </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Topic desc</label>
                <div class="col-sm-8">                  
                  <textarea class="form-control"  name="topicdesc" ngModel required></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Topic Type</label>
                <div class="col-sm-8">
                  <select  name="topictype" ngModel required>
                      <option value="Video">Video</option>
                      <option value="Audio">Audio</option>
                      <option value="HTML">HTML</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Topic content URL</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  name="topiccontentURL" ngModel required>
                </div>
              </div>
              <div class="form-group row">                
                <div class="col-sm-8">
                    <button class="btn btn-primary" (click)="saveTopic(topicForm)">Save Topic</button>
                </div>
            </div>
          </form>      
    </div>
    <div class="card-footer">      
        <div *ngIf="!canCreateTopicContent">
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Hi</strong> All fields for topic are mandatory. Please fill the same          
          </div>
        </div>  
    </div>
  </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Topic Code
            </th>
            <th>
                Topic Title
            </th>
            <th>
                Topic Desc
            </th>
            <th>
                Topic Type and Topic URL
            </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let topic of topicList; index as i">
            <td>
                {{topic.topiccode}}
            </td>
            <td>
                {{topic.title}}
            </td>
            <td>
                {{topic.desc}}
            </td>
            <td>
                {{topic.typesofContent}}
                <ul>
                    <li>
                        {{videoemoji}}{{topicContents[i].videoUrl}}
                    </li>
                    <li>
                       {{audioemoji}}{{topicContents[i].audioUrl}}
                    </li>
                    <li>
                        {{htmlemoji}}{{topicContents[i].htmlUrl}}
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <div >
            <button class="btn btn-primary" (click)="saveCourse()">Save to DB</button>
        </div>
        </td>
      </tr>
    </tfoot>
</table>

