<div class="table table-borderless">
    <div class="row">
        <td class="col">
            <div class="card" >
                <iframe height="315"
                        src="">
                </iframe>
                <div class="card-body">
                  <h5 class="card-title">{{pagetitle}}</h5>
                  <p class="card-text">{{pagedesc}}</p>    
                  <span class="card-text" *ngFor="let i of maxrating">
                    <!-- <div *ngIf="isfilled(i);then coloredstar else blankstar"></div>
                    <ng-template #coloredstar><span class=" fa fa-star checked"></span></ng-template>
                    <ng-template #blankstar><span class= "fa fa-star"></span></ng-template> -->
                    <span *ShowFilledRating="isfilled(i)" class=" fa fa-star checked"></span>
                    <span *ShowFilledRating="!isfilled(i)" class=" fa fa-star"></span>
                  </span>                        
                </div>
                
              </div>
        </td>
    </div>
    <div class="row"> 
        <td class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Reference Materials</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Notes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Q/A</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" >Transcript</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" >Review</a>
                  </li>
              </ul>
        </td>
    </div>
</div>    