<div class="table table-borderless">
    <div class="row">
        <td class="col">
            <div class="card" >
              <app-video [page-title]="pagetitle" [page-desc]="pagedesc" content-video-src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"></app-video>
                <div class="card-body"> 
                  <span class="card-text" *ngFor="let i of maxrating">
                    <!-- <div *ngIf="isfilled(i);then coloredstar else blankstar"></div>
                    <ng-template #coloredstar><span class=" fa fa-star checked"></span></ng-template>
                    <ng-template #blankstar><span class= "fa fa-star"></span></ng-template> -->
                    <span *ShowFilledRating="isfilled(i)" class=" fa fa-star checked"></span>
                    <span *ShowFilledRating="!isfilled(i)" class=" fa fa-star"></span>
                  </span>                        
                </div>                            
              </div>
        </td>
    </div>
    <div class="row"> 
        <td class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link " routerLink="ref" routerLinkActive="active">Reference Materials</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="notes" routerLinkActive="active">Notes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="qa" routerLinkActive="active">Q/A</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="trans" routerLinkActive="active">Transcript</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="review" routerLinkActive="active">Review</a>
                  </li>
              </ul>
        </td>
    </div>
    <router-outlet></router-outlet>
</div>    