<div class="table table-borderless">
    <div class="row">
        <td class="col">
            <div class="card" >
                <app-video [page-title]="pagetitle" [page-desc]="pagedesc" content-video-src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"></app-video>
              </div>
        </td>
    </div>
    <div class="row"> 
        <td class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link " routerLink="ref" routerLinkActive="active">Reference Materials</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="notes" routerLinkActive="active">Notes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="qa" routerLinkActive="active">Q/A</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="trans" routerLinkActive="active">Transcript</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="review" routerLinkActive="active">Review</a>
                  </li>
              </ul>
        </td>
    </div>
    <router-outlet></router-outlet>
</div>    